<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe modifié</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Mot de passe modifié avec succès</h1>
        <p>Votre mot de passe a été modifié avec succès. Vous pouvez continuer à utiliser votre compte avec votre nouveau mot de passe.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Retour à la page de profil</a>
    </div>
</body>
</html>
