<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changer le mot de passe</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Changer le mot de passe</h1>
        <p>Veuillez entrer votre ancien mot de passe ainsi que le nouveau mot de passe que vous souhaitez utiliser.</p>

        <!-- Formulaire de modification du mot de passe -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
        </form>

        <div class="mt-3">
            <a href="{% url 'login' %}" class="btn btn-secondary">Retour à la modification du profil</a>
        </div>
    </div>
</body>
</html>
